* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
    margin: 5px;
    height: 100vh;
}

a { text-decoration: none; }

/*Header Start*/
.header{
    height: auto;
    padding: 20px;
    width: 100%;
    background: #E5E5E5;
    color: #000;
}

.category ul{
    background: #E5E5E1;
    display: flex;
    justify-content: space-around;
    /*border: 1px solid black;*/
}
.category li {
    text-align: center;
    list-style-type: none;
    /*border: 1px solid black;*/
    width: 100%;
}
.category li:hover {
    background: linear-gradient(#E5E5E5, #A5E5E5);
}
.category a {
    text-decoration: none;
    color: black;
}
/*Header End*/


/*Body start*/

.formBx {
    border: 6px solid black;
    height: 80vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url("../img/bg/bg.jpg");
    height: 100vh;
    background-repeat: repeat;

}

.formBx h1 { text-align: center; }
form {
    width: 400px;
    height: 400px;
    border: 1px solid black;
}


/*Body End*/



/*Footer Start*/
.footer {
    display: flex;
    height: auto;
    width: 100%;
    background: #E5E5E5;
}

.cat {
    padding: 10px;
    width: 100%;
    height: auto;
    border: 1px solid black;
}

.smallFooter {
    padding: 5px;
    text-align: center;
    background: linear-gradient(#ffff, green);
}
/*Footer End*/